body,
html {
  width: 100%;
  height: 100%;
}

body.admin-view {
  background-color: #e6e6e6;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}


.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}
.container {
    padding: 0px;
}
.section-container{
  padding: 3em 0px
}

#mainNav.admin-view {
    padding: 25px 0px;
    padding-bottom: 38px;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0px
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
  font-weight: 700;
  text-transform: uppercase;
  color: #067a89;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #067a89;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #067a89 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}
.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
    color: #99a9b5;
    font-size: 36px;
}
.overlay
{
  height: 108px;
  width: 100%;
  background-color: #e6e6e6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}
.overlay.admin
{
  height: 222px;
  width: 100%;
  background: linear-gradient(127deg, #067A89 0%, #09373D 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}
.navbar-brand img{
width: 82px
}
.admin-view .navbar-brand img{
width: 101px
}
.performence-section {
    /* height: 369px; */
    background-color: #FCFCFC;
    border-radius: 2px;
    background-image: url(./../img/Illustration-MAVS-Gym.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    padding: 48px 74px;
    padding-bottom: 35px;
    margin-bottom: 54px;

}


.title {
    color: #333333;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.check-in-container{

}
.check-in-container h1{
  color: #333333;
    font-family: 'Oswald', sans-serif;
    font-size: 144px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 27px;
    text-align: center;
    line-height: 125px;
}
.check-in-container h5 {
    color: #333333;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.list-heading{
  color: #333333;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 26px;
}
.list-container ul, .member-activity-list-container ul{
  padding: 0px;
  list-style-type: none;
}
.list-container ul li, .member-activity-list-container ul li{
  color: rgba(51,51,51,0.5);
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 17px;
  padding: 20px 10px;
  border-bottom: 1px solid #e6e6e6;
  text-transform: uppercase;
  text-align: left;
}
.table-header h4{
 color: #333333;
 font-family: 'Oswald', sans-serif;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: 1.5px;
 line-height: 26px;
 text-transform: uppercase;
 margin-bottom: 30px
}
.table-section .table th{
  background: #dcdcdc;
  color: #153348;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.table-section .table tbody{
  background-color: white
}
.table-section .table td{
  color: #153348;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  border-top: 0px
}
.drop-btn {
  font-size: 10px;
    color: #067a89;
}
.drop-btn.open{
  transform: rotate(90deg);
  transform-origin: center;
}
.open-row{
  background-color: #f2f2f2;

}
.open-row td{
  padding: 0px;
}
.open-row .open-row-inner {
    padding-top: 50px;
    padding-bottom: 34px;
    padding-left: 20px;
    padding-right: 80px;
}
.members-humb-container .member-thumb-view{
  padding: 10px;
  background-color: white;
  border-radius: 2px;
  height: 100%
}
.members-humb-container .member-detail span, .profile-info span{
color: rgba(51,51,51,0.5);
font-family: "Open Sans";
font-size: 12px;
line-height: 17px;
text-align: center;
display: block;
margin-bottom: 5px
}
.members-humb-container .member-detail span.m-name, .profile-info span.profile-name{
  color: #333333;
}
.member-img img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px
}
.footer{
  padding: 15px 0
}
.footer p{
	color: #333333;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 17px;
  text-align: right;
  text-transform: uppercase;
}

.setting-container{
  display: flex;
  margin-top: -37px
}
.profile-box {
    width: 220px;
    margin-right: 20px;
    padding-top: 125px;
}
.profile-img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 25px

}
.profile-box-inner{
  padding: 20px;
  background-color: #fcfcfc;
  border-radius: 2px;
}
.update-setting{
  background-color: white;
  border-radius: 2px;
  flex-grow: 1;
  padding: 20px
}
.form-header h4{
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #333333
}
.form-content label{
  font-size: 13px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #979797
}
.form-container{
  margin-bottom: 50px;
  max-width: 600px
}
.form-control {
  font-family: 'Oswald', sans-serif;
    display: block;
    width: 100%;
    height: 48px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #f1f1f1;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f1f1f1;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(249, 249, 249);
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;

    line-height: 1.5;
    border-radius: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 48px;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-primary {
    color: #fff;
    background-color: #287a8a;
    border-color: #287a8a;
}
.btn-primary:hover {
    color: #fff;
    background-color: #246b79;
    border-color: #246b79;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(241, 241, 241);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #257484;
    border-color: #257484;
}
.btn-danger {
    color: #fff;
    background-color: #c74a34;
    border-color: #c74a34;
}
.btn-danger:hover {
    color: #fff;
    background-color: #bf402a;
    border-color: #bf402a;
}
.form-group .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.form-group .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-group .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #999999;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.upload-logo-text strong{
  font-size: 13px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #333333;
  display: block;
}
.upload-logo-text span{
  font-size: 12px;
  font-family: "Open Sans";
  color: #333333;
  display: block;
}
.upload-logo-text {
  margin-bottom: 20px;
  margin-top: 25px
}
.logo-upload-box {
    position: relative;
    margin-bottom: 10px;
}
.logo-upload-box .form-control {
    padding-right: 40px;
    padding-left: .75rem !important;
}
.logo-upload-box a {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #999999;
    font-size: 12px;
}
.form-content .form-group {
    position: relative;
}
.form-content .form-group .form-control {
    padding-left: 46px;
}
.form-content .form-group .input-icon {
    position: absolute;
    top: 12px;
    left: 16px;
}
.form-content .form-group .input-icon img {
    width: 19px;
}

.banner-Text h2{
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  line-height: 46px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #333333;
  margin-bottom: 0px
}
.banner-Text h2 span{
  color: #067a89;
}
.gala-party-banner img {
    width: 564px;
    margin-bottom: 2.5em;
}
.gala-tickets a{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #285ea9;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    line-height: 40px;
    font-size: 28px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #285ea9;
    background-color: #285ea9;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
}
.video-box {
    max-width: 766px;
    margin: 0 auto;

}
.section-text p{
  margin: 0 0 1.1em;
  color: #000;
  line-height: 26px;
  font-family: 'Lato', sans-serif;
}
.video-text.section-text p{
  font-size: 19px;
}
.section-text{
  margin-top: 2.7rem
}
.join-bg{
background-image: url(./../img/Girl_Dumbells_Gym1.jpg);
}
.origin-bg{
background-image: url(./../img/aboutmepichomepage.jpg);
}
.charity-bg{
  background-image: url(./../img/coupleevents.jpg);
}
.wet-bg{
  background-image: url(./../img/sweatcoalitionveterans.jpg);
}
.update-bg{
  background-image: url(./../img/stayupdated.jpg);
}
.column-view {
    padding: 35px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.column-view .column-header{
  padding-bottom: 50%
}
.column-view .column-header h4{
  color: #ffffff;
  line-height: 46px;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.05em;
}
.column-footer .btn-primary {
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    font-size: 19px;
    margin: 30px 0px;
}
.column-text{
  max-width: 848px;
  margin: 0 auto;

  margin-top: 4rem
}
.column-text p{
  line-height: 30px;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1.5rem
}
.column-text p:last-child{
  margin-bottom: 0px
}
.column-view-sm.column-view .column-header h4 {
    line-height: 40px;
    font-size: 28px;
}
.column-view-sm .column-footer .btn-primary {
    height: 40px;
    line-height: 40px;
    padding: 0 17px;
    font-size: 14px;
    margin: 25px;
    margin-bottom: 0px
}
.column-view-sm.column-view .column-header{
  padding-bottom: 40%
}
.small-padder {
  padding-right: 7px;
padding-left: 7px;
}
.footer-top{
  background-color: #09373d;
}
.footer-top{
  padding: 20px 0px
}
.footer-top h4{
  line-height: 40px;
  font-size: 28px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1.13em 0;
  letter-spacing: 0.05em;
  font-family: 'Oswald', sans-serif;
}
.footer-top .form-control{
  max-width: 293px;
      height: 38px;
      border-radius: 2px;
      margin-bottom: 15px
}
.submit-btn .btn{
  background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1.2em;
    padding: 10px 15px;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-weight: 500;
}
.footer-bottom{
  background-color: #067a89;
  padding-top: 30px;
  padding-bottom: 15px;
}
.footer-column{
      margin-bottom: 54px;
}
.footer-bottom p{
  color: #fff;
  line-height: 26px;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
}
.socials a {
    display: inline-flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    background-color: #08373d;
    border-radius: 50%;
    color: white
}
.container.container-full{
  padding: 0px;
  max-width: 89%;
}
.dropdown-item {
    letter-spacing: 0.05em;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #f1f1f1;
    color: #087a89;
    padding: .8rem 1.5rem;
    font-size: 18px;
    text-transform: uppercase;

}
.dropdown-menu {
    border-top: 3px solid #087a89;
    border-radius: 0px;
}
.dropdown-item:last-child{
  border-bottom: 0px
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #087a89;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #087a89;

}
@media (min-width: 1200px)
{
  .admin-view.container {
      max-width: 940px;
      padding: 0px;
  }
}
@media (min-width: 992px) {

  .admin-view .navbar-collapse{
    margin-top: -20px
  }
  #mainNav {
    border-color: transparent;
    background-color: transparent;
      padding: .9rem 1rem;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .admin-view #mainNav .navbar-brand:focus, .admin-view #mainNav .navbar-brand:hover {
    color: #fff;
  }
    #mainNav .navbar-nav > li.nav-item{
    padding-left: 20px
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      padding: 6px 2px;
      font-family: 'Oswald', sans-serif;
      font-size: 22px;

      position: relative;

  }
  .admin-view #mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 18px;
    letter-spacing: 1.45px;
    padding-top: 0px;
    color: rgba(255, 255, 255, 0.48);
}
.admin-view #mainNav .navbar-nav > li.nav-item.active > a.nav-link{
  color: rgba(255, 255, 255, 1);
}
  .admin-view #mainNav .navbar-nav > li.nav-item.active > a.nav-link::after
  {
    content: "";
    position: absolute;
    box-sizing: border-box;
    height: 5px;
    width: 100%;
    background-color: #FFFFFF;
    bottom:2px;
    left: 0px
  }
  .admin-view #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.5);
  }
.admin-view   #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  .admin-view #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
      background-color: #e6e6e6;
      border-radius: 2px;
      /* max-width: 200px; */
  }
  .container.container-full{
    padding: 0px;
    max-width: 95%;
  }
  .navbar-collapse{
    position: absolute;
    width: 95%;
    left: 0px;
    top: 100%;
    right: 0px;
    margin: 0 auto;
    z-index: 1000
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      font-weight: normal;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      padding: 7px 8px;
      color: #067a89;
      line-height: 20px;
      padding: 16px 30px;
      text-transform: capitalize;
  }
}
@media (max-width: 768px) {
  .performence-section {
      background-position: left top;

  }
  .column-view {
      margin-bottom: 30px;
      height: auto;
  }
  .column-view-sm{
    min-height: 300px
  }
}
@media (max-width: 575px) {
  .setting-container {
    margin-top: -37px;
    display: block;
}
.profile-box {
    width: 220px;
    margin-right: 20px;
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.container{
    padding-right: 10px;
    padding-left: 10px;
}
}
